source https://nuget.org/api/v2

nuget Pester

source https://teamcity.unic.com/httpAuth/app/nuget/v1/FeedService.svc/ username: "%PAKET_USER%" password: "%PAKET_PASSWORD%"

nuget Unic.Bob.Rubble  1.1.0-flexiblepattern0012
nuget Unic.Bob.Config Prerelease
nuget Unic.Bob.Keith
